pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.clj-kondo/.cache/
.calva/
.lsp/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
.idea_modules/
out/

# Mac
.DS_Store
